@model MiauCore.IO.Areas.Admin.ViewModels.RewardViewModel

@using (Html.BeginForm("Add", "Reward", FormMethod.Post))
{
    @Html.DisplayNameFor(m => m.Reward.Name)
    @Html.TextBoxFor(m => m.Reward.Name)
    @Html.DisplayNameFor(m => m.Reward.Price)
    @Html.TextBoxFor(m => m.Reward.Price)
    @Html.DisplayNameFor(m => m.Reward.Prize)
    @Html.TextAreaFor(m => m.Reward.Prize)
    @Html.DisplayNameFor(m => m.Reward.Quantity)
    @Html.TextAreaFor(m => m.Reward.Quantity)
    <select id="Products" asp-for="ProductId" class="form-control">
        @foreach (var product in Model.Products)
        {
            <option value="@product.Id">@product.Name</option>
        }
    </select>
    <input type="submit" value="Add">
}

