@using Microsoft.AspNetCore.Identity
@using MiauCore.IO.Domain.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <link asp-href-include="~/css/custom-bootstrap.css" rel="stylesheet" />
    @RenderSection("styles", false)
  </head>
  <body lang="en-us">
    <header class="navbar navbar-inverse">
      @if (SignInManager.IsSignedIn(User))
      {
        <div role="navigation" class="container-fluid">
          <nav id="dropdown-itens-menu" class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
              <li><a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>
              <li class="dropdown">
                <a id="toggler-news" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  News
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="toggler-news">
                  <li><a asp-area="Admin" asp-controller="News" asp-action="Add">Add</a></li>
                  <li><a asp-area="Admin" asp-controller="News" asp-action="Index">Manage</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a id="toggler-product" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Product
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="toggler-product">
                  <li><a asp-area="Admin" asp-controller="Product" asp-action="Add">Add</a></li>
                  <li><a asp-area="Admin" asp-controller="Product" asp-action="Index">Manage</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a id="toggler-product" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Reward
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="toggler-product">
                  <li><a asp-area="Admin" asp-controller="Reward" asp-action="Add">Add</a></li>
                  <li><a asp-area="Admin" asp-controller="Reward" asp-action="Index">Manage</a></li>
                </ul>
              </li>
            </ul>
            <nav class="navbar-nav navbar-right" role="navigation">
              <a class="btn btn-link navbar-btn" href="#" title="Manage">Hello, @UserManager.GetUserName(User)</a>
              <a asp-area="Admin" asp-controller="Account" asp-action="LogOff" class="btn btn-primary navbar-btn">Log off</a>
            </nav>
          </nav>
        </div>
      }
    </header>
    <main role="main">
      @RenderBody()
    </main>
    <script asp-src-include="~/js/jquery.js"></script>
    <script asp-src-include="~/js/bootstrap.js"></script>
    @RenderSection("scripts", false)
  </body>
</html>
