@model List<MiauCore.IO.Models.Investor>

@{
    ViewBag.Title = "Client - List";
}

<main role="main" class="col-md-6 col-md-offset-3">
    <h1>News</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>TaxId</th>
                <th>Rate</th>
                <th>MobilePhone</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var investor in Model)
            {
                <tr>
                    <td>@investor.Id</td>
                    <td>@investor.Name</td>
                    <td>@investor.Telephone</td>
                    <td>@investor.Email</td>
                    <td>@investor.TaxId</td>
                    <td>@investor.Rate</td>
                    <td>@investor.MobilePhone</td>
                </tr>
            }
        </tbody>
    </table>
</main>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
